{% macro auth(user=None) -%}
<div class="auth-controls">
  <small>{{user.username}}</small>
  {% if user %}
  <a href="/signout" title="Signout.">
    <svg class="icon icon--control icon--arrow-up"><use xlink:href="#icon--arrow-up"></use></svg>
  </a>
  {% endif %}
  {% if not user %}
  <a href="/signin" title="Signin.">
    <svg class="icon icon--control icon--arrow-down"><use xlink:href="#icon--arrow-down"></use></svg>
  </a>
  <a href="/signup" title="Signup.">
    <svg class="icon icon--control icon--head"><use xlink:href="#icon--head"></use></svg>
  </a>
  {% endif %}
</div>
{%- endmacro %}

{% macro post(user=None, post=None, comments=False) -%}
<aside class="post__controls">
  {% if user %}
  <a href="/edit" title="New post.">
    <svg class="icon icon--control icon--file-add"><use xlink:href="#icon--file-add"></use></svg>
  </a>
  <a href="/edit" title="Edit post.">
    <svg class="icon icon--control icon--file"><use xlink:href="#icon--file"></use></svg>
  </a>
  <a href="" title="Delete post.">
    <svg class="icon icon--control icon--file-subtract"><use xlink:href="#icon--file-subtract"></use></svg>
  </a>
  {% endif %}
  <a href="/fav" title="Favorite post.">
    <svg class="icon icon--control icon--heart"><use xlink:href="#icon--heart"></use></svg>
  </a>
  {% if comments %}
  <a href="#comments" title="Add comment.">
    <svg class="icon icon--control icon--speech-bubble"><use xlink:href="#icon--speech-bubble"></use></svg>
  </a>
  {% endif %}
</aside>
{%- endmacro %}