{% extends "base.html" %}
{% block body %}
<section id="delete" class="main">
  <form class="del-box dialog" method="post" action={{form_action}}>
    <header class="dialog__header">
      <h2 class="dialog__title">
        Delete post.
      </h2>
    </header>
    <div class="dialog__frame">
      <h3>{{post.subject or comment.content|md|safe}}</h3>
      <p>Are you sure you want to delete this {{'post' if post else 'comment'}}?</p>
    </div>
    <footer class="dialog__footer">
      <button name="ok" value="ok">
        <span>delete</span>
        <svg class="button__icon--end icon icon--check"><use xlink:href="#icon--check"></use></svg>
      </button>
      <button name="cancel" value="cancel" class="button--red">
        <span>cancel</span>
        <svg class="button__icon--end icon icon--cross"><use xlink:href="#icon--cross"></use></svg>
      </button>
    </footer>
  </form>
</section>
{% endblock %}