{% extends "auth.html" %}
{% block auth__title %}
Signup
{% endblock %}
{% block auth__controls %}
{{ controls.auth(user=user, signup=False, signin=True, signout=False, next=next) }}
{% endblock %}
{% block auth__content %}
<input type="text" name="username" value="{{user.username or ''}}" placeholder="Enter your username"
  class="{{ 'input--error' if user and not (user.valid('username') and user.unique) else '' }}">
<input type="password" name="password" value="" placeholder="Enter your password"
  class="{{ 'input--error' if user and not user.valid('password') else '' }}">
<input type="password" name="verify" value="" placeholder="Retype your password"
  class="{{ 'input--error' if pass_verified != None and not pass_verified else '' }}">
<input type="text" name="email" value="{{user.email or ''}}" placeholder="Enter your email"
  class="{{ 'input--error' if user and not user.valid('email') else '' }}">
{% endblock %}
{% block auth__confirm %}
<button name="ok" value="ok">
  <span>signup</span>
  <svg class="button__icon--end icon icon--check"><use xlink:href="#icon--check"></use></svg>
</button>
<button name="cancel" value="cancel" class="button--red">
  <span>cancel</span>
  <svg class="button__icon--end icon icon--cross"><use xlink:href="#icon--cross"></use></svg>
</button>
{% endblock %}