{% extends "viewer.html" %}
{% block frame__inner %}
<ul class="items">
  <li class="item">
    {{ controls.item(user=user, post=post, comments=True) }}
    <section class="post">
      <a href="{{url_for('view', post_id=post.key.id())}}">
        <h1 class="post__title">{{post.subject}}</h1>
      </a>
      <article class="post__content">
        {{post.content|md|safe}}
      </article>
      <div class="post__meta">
        <small>author: {{post.key.parent().get().username}}</small>
      </div>
      <footer id="comments" class="post__footer">
        {% if user %}
        {% call widgets.dialog(title='Add comment.', class='comment-form', ok='comment', cancel='cancel', action='/view/' + post.uid + '#comments') %}
          <textarea name="content" placeholder="Type your comment here."
            class="comment-form__content {{ 'input--error' if comment and comment.empty('content') else '' }}"></textarea>
        {% endcall %}
        {% else %}
        <h2>You must be signed-in to comment.</h2>
        {{ controls.auth(user=user) }}
        {% endif %}
        <ul class="post__comments">
          {% for comment in comments %}
          <li class="post__comment">
            <b>{{comment.author.get().username if comment.author else 'Nobody '}} said</b>
            <div>{{comment.content}}</div>
          </li>
          {% endfor %}
        </ul>
      </footer>
    </section>
  </li>
</ul>
{% endblock %}
{% block footer__inner %}
{% endblock %}