{% extends "base.html" %}
{% import 'controls-macro.html' as controls %}
{% block body %}
<section id="index" class="main">
  <header class="header">
    <div class="header__inner">
      {% block header__inner %}
      <a href="/" class="title">
        <h1>MUBlog</h1>
      </a>
      {{ controls.auth(user=user) }}
      {% endblock %}
    </div>
    </div>
  </header>
  <section class="frame">
    <div class="frame__inner">
      {% block frame__inner %}
      {% endblock %}
    </div>
  </section>
  <footer class="footer">
    <div class="footer__inner">
      {% block footer__inner %}
      footer
      {% endblock %}
    </div>
  </footer>
</section>
{% endblock %}