@import "normalize.css";
@import "svg-icons.css";


* {
  box-sizing: border-box;
}

html, body, .main {
  position: relative;
  /*min-width: 100vw;*/
  /*min-height: 100vh;*/
  /*background: color(silver tint(90%));*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
  color: #444;
}

a {
  display: inline-block;
}

a, a:link, a:visited {
  color: teal;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
}

input[type=text], textarea, input[type=password], input[type=submit], button, .button {
  padding: 0.5em 0.6em;
  border: none;
  border-radius: 3px;
  margin: 0.2em;
  outline: none;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

input[type=text], input[type=password], textarea {
  border: 2px solid color(teal tint(60%));
}

input[type=text]:hover, input[type=password]:hover, textarea:hover,
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: 2px solid teal;
}

input[type=text].input--error, input[type=password].input--error, textarea.input--error {
  border: 2px solid color(red tint(60%));
}

input[type=text].input--error:hover, input[type=password].input--error:hover, textarea.input--error:hover, 
input[type=text].input--error:focus, input[type=password].input--error:hover, textarea.input--error:focus {
  border: 2px solid red;
}

input[type=submit], button, .button {
  background-color: teal;
  color: white;
  cursor: pointer;
}

a.button {
  color: white;
}

input[type=submit].button--red, button.button--red {
  background-color: red;
}

input[type=submit] *, button * {
  cursor: pointer;
}

.button__icon--start {
  margin-right: 1em;
}

.button__icon--end {
  margin-left: 1em;
}

.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

#index.main {
  align-items: center;
  align-content: center;
}

#auth.main, #delete.main {
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.header, .frame, .footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header__inner, .frame__inner, .footer__inner {
  position: relative;
  background: #fff;
  width: 1020px;
  padding: 1em;
  border-left: 1px solid color(silver tint(60%));
  border-right: 1px solid color(silver tint(60%));
}

.header {
  border-bottom: 1px solid color(silver tint(60%));
}

.header__inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.title {
  flex: 1;
}

.auth-controls {
  opacity: 0.5;
  font-size: 1.5em;
  transition: opacity 0.2s linear;
}

.auth-controls:hover {
  opacity: 1;
}

.frame {
  flex: 1;
}

.frame__inner {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.footer {
  border-top: 1px solid color(silver tint(60%));
}

.footer__inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.footer__copy {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
}

.items {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.item {
  /*min-height: 12em;*/
  /*margin-bottom: 2em;*/
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  align-items: stretch;
}

.item__controls {
  opacity: 0.5;
  padding-right: 1em;
  display: flex;
  flex-flow: column;
  transition: opacity 0.2s linear;
}

.item__controls:hover {
  opacity: 1;
}

.item__controls > * {
  margin-bottom: 1em;
}

.post {
  margin-bottom: 2em;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.post__title {
    font-size: 2.3em;
}

.post__meta {
  padding-left: 1em;
  margin-bottom: 2em;
}

.post__footer {
  width: 100%;
  margin-bottom: 2em;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}

.post__comments {
  list-style: none;
  width: 80%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.post__comment {
  padding: 0;
  margin: 1em;
  display: flex;
  flex-flow: column wrap;
}

.post__comment > b {
  margin-bottom: 0.5em;
}

.post__comment > div {
  padding-left: 1em;
}

.index-paginator {
}

.dialog, .comment-form {
  border: 1px solid color(silver tint(60%));
  width: 420px;
  display: flex;
  flex-flow: column nowrap;
}

.dialog__title, .comment-form__title {
  margin: 0;
}

.dialog__header, .dialog__frame, .dialog__footer,
.comment-form__header, .comment-form__frame, .comment-form__footer {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
}

.dialog__frame, .comment-form__frame {
  width: 420px;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: center;
}

.dialog__header {
  justify-content: space-between;
}

.dialog__footer, .comment-form__footer {
  justify-content: flex-end;
}

.editor {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: stretch;
}

.editor__frame {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.edit-confirm {
  display: flex;
  flex-flow: column nowrap;
}

.edit-confirm__button {
  background: none;
  color: teal;
  padding: 0;
  margin: 0 0 1em 0;
}

.edit-post {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.edit-post__title {
  font-size: 2em;
}

.edit-post__content {
  margin-top: 1em;
  flex: 1;
}

.comment-form {
  margin-bottom: 2em;
}

.comment-form__content {
  width: 100%;
  min-height: 8em;
}
