.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon--name {
  font-size: 32px;
  color: red;
}
========================================== */

.button-icon .icon {
  transition: transform 0.2s linear;
}

.button-icon:hover .icon {
  transform: scale(1.5);
}

.button-icon .icon--file-add:hover {
  color: green;
}

.button-icon .icon--file:hover {
  color: blue;
}

.button-icon .icon--file-subtract:hover {
  color: red;
}

.button-icon .icon--heart:hover, .button-icon--active .icon {
  color: fuchsia;
}

.button-icon .icon--speech-bubble:hover {
  color: blue;
}