.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon--name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon--control {
  transition: transform 0.2s linear;
}

.icon--control:hover {
  transform: scale(1.5);
}

.icon--control.icon--file-add:hover {
  color: green;
}

.icon--control.icon--file:hover {
  color: blue;
}

.icon--control.icon--file-subtract:hover {
  color: red;
}

.icon--control.icon--heart:hover, .icon--heart--active {
  color: fuchsia;
}

.icon--control.icon--speech-bubble:hover {
  color: blue;
}